@import url('node_modules/normalize.css/normalize.css');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,500,700');

:root {
  --color-main: #a1a1a1;
  --color-main-dark: #747474;
  --color-secondary: #15cf89;
  --color-tertiary: #f1f1f1;
  --color-light: #fff;
  --color-dark: #000;
  --color-red: #e44141;

  --text-subinfo: .9em;
  --text-search: 1.12em;
  --text-empty: 1.5em;
  --text-main: 2.5em; 

  --weight-normal: 500;
  --weight-bold: 700;
  --weight-light: 400;
}

html {
  box-sizing: border-box;
}

*, 
*::before,
*::after {
    box-sizing: inherit;
}

body {
  background-color: var(--color-tertiary);
  font-family: 'Open-Sans', sans-serif;
}

.main-title {
  color: var(--color-main);
  font-size: var(--text-main);
  font-weight: var(--weight-bold);
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 8vh;
}

#content {
  margin-top: 20px;
}

input {
  background-color: var(--color-light);
  font-size: var(--text-search);
  border: none;
  padding: 10px;
  width: 100%;
}

input:focus {
  outline-color: var(--color-secondary);
}

.search-area {
  color: var(--color-main);
  margin-top: 30px;
  box-shadow: 0px 1px 16px 1px rgba(0,0,0,.1);
  font-family: 'Open Sans', sans-serif;
}

button {
  background-color: var(--color-secondary);
  color: var(--color-light);
  font-size: var(--text-search);
  font-weight: var(--weight-bold);
  border: none;
  padding: 15px;
}

.empty-content {
  color: var(--color-main);
  font-size: var(--text-empty);
  padding: 0 20px;
  margin-top: 40px;
}

.empty-content::before {
  content: "\2639";
  font-size: calc(var(--text-empty) - .3em);
  margin-right: 15px;
}

@media screen and (max-width: 780px) {
  .empty-content {
    font-size: calc(var(--text-empty) - 50%);
  }
  .main-title {
    font-size: calc(var(--text-main) - 60%);
  }
  input,
  button {
    font-size: calc(var(--text-search) - 25%);
  }
}

.bookCard__inner {
  background-color: var(--color-light);
  margin: 20px 10px;
  padding: 20px;
  position: relative;
  min-height: 280px;
}

.bookCard__image {
  position: absolute;
  top: -20%;
  box-shadow: 2px 4px 8px 2px rgba(0,0,0,.3);
  transition: all .4s ease;
}

.bookCard__image a {
  display: block;
}

@media screen and (max-width: 767px) {
  .bookCard__image {
    position: initial;
    top: auto;
    box-shadow: none;
  }
}

.bookCard__image:hover {
  top: -15%;
}

.bookCard__title {
  font-weight: var(--weight-bold);
  color: var(--color-main-dark);
  padding-top: 10px;
}

.bookCard__info {
  color: var(--color-main);
  font-size: var(--text-subinfo);
  font-weight: var(--weight-bold);
  margin-bottom: 0;
}

.bookCard__btn {
  border-radius: 10px;
  margin-top: 10px;
}

.bookCard__btn a {
  color: var(--color-light);
  font-size: var(--text-subinfo);
  display: block;
}

.bookCard__btn a:hover {
  text-decoration: none;
}

.warning {
    border: 2px solid var(--color-red);
}

.warning-text {
    font-size: 13px;
    color: var(--color-red);
    padding: 6px 0;
}